body {
  position: relative;
  background-color: lightgray;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  @media screen and (min-width: 769px) {
    width: 70%;
    padding: 0px 10px;
  }
  margin: 0 auto;
  width: 80%;
  padding: 0px 3px;
}

.comic-headers {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  h1,
  h2 {
    margin-right: 5px;
  }
  h1 {
    color: grey;
    &:hover {
      color: unset;
    }
  }
}
.comic-img-container {
  min-height: 60vh;
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    margin: 10px auto;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    aspect-ratio: initial;
  }
}
.comic-nav-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  .comic-nav-button {
    border: 2px solid black;
    border-radius: 3px;
    border-style: dotted;
    margin: 0px 5px;
  }
}

.transcript {
  background-color: lightgray;
  padding: 5px;
  border-radius: 10px;

  p {
    white-space: pre-wrap;
  }
}

.error-fallback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-decoration: underline;
  }
}

.link {
  cursor: pointer;
}
